/* ===============COMPONENTS=================== */
.container {
    max-width: 1158px; 
    padding-left: 15px; 
    padding-right: 15px;  
}

.title { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px; 
  }


.text {
  font-weight: 400;

 } 


/* ===============/COMPONENTS=================== */

/* =======================MAIN PAGE=========*/
/* =======================Main page Header=======*/

.header {
 padding-top: 24px;
 padding-bottom: 24px;
}

.logo {
    margin-right:76px;
}

.logo-studio {}

.nav-list {}

.div-nav {
    display: flex;
    align-items: center;
}

.nav-link {}

.nav-link:hover,
.nav-link:focus {}

.nav-item {}

.nav-link::after { } 

.header-contacts {}

.contacts-list {
   
    gap: 40px;
    flex-direction: row;
}

.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
  
}

/* =================Main page Header=================*/

/*==================Main page - Hero image=================*/
 .hero {
   
    padding-top: 188px;
    padding-bottom: 188px; 
    background-image: var(--bd-gradient),
        url(../images/main_page/background/hero-bd.png);
   
} 


/*=========Main page - Hero image*=================*/

/* ===========Main page - Section 1 - Feature==========*/

.feature {
    padding-top: 120px;
    padding-bottom: 120px;
}

.feature-item {
   

}


.feature-list {
    
    flex-direction: row;
}




.feature-item .text {
    width: 264px;
}

.feature-item::before {
    display: block;
    content: '';
    width: 264px;
    height: 112px;
    background-repeat: no-repeat;
    background-size: 60px 64px;
    background-color: var(--color-Cloud);
    background-position: 50% 50%;
    margin-bottom: 8px;
}





/* ===========Main page - Section 1 - Feature==========*/


/* ===========/Main page - Section 2 - What are we doing==========*/



/* ===========/Main page - Section 2 - What are we doing==========*/

/* ===========Main page - Section 3 - Our Team==========*/

.team {
 
    padding-top: 120px;
    padding-bottom: 120px;
}


.team-div{
    width: 100%; 
}



.team-list {}

.team-item {}

.team-card>.text {  }


/* ====/Main page - Section 3 - Our Team==========*/

/* -- Section 4 Customers -- */

.customers {
    padding-top: 120px;
    padding-bottom: 120px;
}



.customers-list {
    display: flex; 
    flex-wrap: nowrap;
}

.customers-link {

}


/* -- Section 4 Customers -- */

/* ==========Footer==========*/

.footer {
   
}

.footer-text {
  
    width: 268px;
}

.footer-title {
  
}

.footer-div{
     
}

.footer>.container {
    
    flex-wrap: nowrap;
    gap:0;
    padding-left: 15px;
}

.footer-container-div{
display: flex;
width: 100%;

}

.div-footer {
    gap:0; 
    margin-bottom: 0;
}

.div-footer-logo {
    margin-right: 120px;
}

.footer-soc {
    margin-right: 80px;
}







/* ====================Footer=============*/
/* =======================MAIN PAGE=========*/



/* =========================PORTFOLIO=========== */
/* ===============Section 1  Filter========== */
/* 
.filter {
    margin: 0 auto;
    padding-bottom: 120px;
    padding-top: 96px;
}

.filter-list {
    margin-bottom: 72px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.filter-btn {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.04em;
    background: var(--color-Cloud);
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    cursor: pointer;
    color: var(--color-IRIS);
    text-align: center;
    padding: 12px 24px;
    transition-property: color, background-color, box-shadow, border-color;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
    color: var(--color-WHITE);
    background-color: #404BBF;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

/* ========Section 1  Filter======= */

/* ========ROW 1-3================= */
.project {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    justify-content: space-between;
}

.project-card {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
    flex-grow: 1;
    max-width: 360px;
}

.project-link {
    display: flex;
    height: 100%;
    flex-direction: column;
    transition: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*  !!!!!!!!!!! OVERLAY Portfolio cards */

.project-images {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
    background-color: var(--color-IRIS);
}

.project-link:hover .overlay,
.project-link:focus .overlay {
    transform: translateY(0);
}

.overlay-text {
    position: absolute;
    top: 40px;
    left: 32px;
    width: 298px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-Cloud);
    overflow: auto;
}


/* ========ROW 1-3================= */

 @media (min-device-pixel-ratio: 2),
 (-webkit-min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
     .hero {
         background-image: var(--bd-gradient),
             url(../images/main_page/background/hero-bd@2x.png);
     }}