:root {
  --color-IRIS: #4d5ae5;
  --color-OCEAN: #404bbf;
  --color-NAVYBLU: #2e2f42;
  --color-SLATE:#434455;
  --color-Cloud: #f4f4fd;
  --color-WHITE: #ffffff;
  --color-background-hero: #2e2f42;
  --color-background-button: #4d5ae5;
  --color-card-team:#ffffff;
  --color-background-team: #f4f4fd;  
  --bd-gradient:linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7));
  --transition-duration:250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

body {
  
  font-family: "Roboto", sans-serif;
  --color-NAVYBLU: #2e2f42;
  background-color:#ffffff;
}

a {cursor: pointer;
  font-style: normal;
}

p {
  font-style: normal;
  font-weight: 400;
}

p,h1,h2,h3,h4,h5,h6{margin: 0; }

ul{
  margin: 0;
  padding-left: 0;
  }

img {
  display: block;
  max-width: 100%;
  height: auto;
    }
  
.link {text-decoration: none;}
.list { 
  list-style: none;
  margin: 0;
}
/* ===============COMPONENTS=================== */
 .container{
  width: 100%;
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left:  auto;
  margin-right: auto;
  outline: 1px solid #31D0AA;
  }

.page-title {
margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color:var(--color-NAVYBLU);
}

.title { 
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-NAVYBLU);
  margin-bottom: 8px; 
  
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-SLATE) ;
 } 
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ===============/COMPONENTS=================== */

/* =======================MAIN PAGE=========*/
/* =======================Main page Header=======*/

.header {
  
  background-color:rgba(255, 255, 255,0.5);
  border-bottom: 1px solid #e7e9fc;
  margin: 0 auto;
  padding-bottom: 24px;
  padding-top: 24px;
  box-shadow: 0px 2px 1px
   rgba(46, 47, 66, 0.08), 0px 1px 1px
    rgba(46, 47, 66, 0.16), 0px 1px 6px
     rgba(46, 47, 66, 0.08); 
}

.header-nav {
  /* margin-bottom: 284px; */
 
 /* display: flex;  */
 /* gap: 120px; */
 /* margin-right: auto; */
 /* align-items: center; */
 
}

.container-mobile_menu .header-nav {
  margin-bottom: 284px;}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-IRIS);
  display: block;
  /* text-align: center; */

  margin-left: 0;

}

.logo-studio {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-NAVYBLU);
}

.nav-list  {
  display: none;}

 .mobile_menu-nav-list  {
 

  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-NAVYBLU);
  display: flex;
  gap: 40px;
  flex-direction: column;

  
  /* identical to box height, or 111% */
  
  
  text-transform: capitalize;
  
  

} 

 .div-nav{
  display:flex;
  justify-content: space-between;

}


 .nav-link {
  /* display: none; */
 
  position: relative;
  color:var(--color-NAVYBLU);
  transition-property: color ;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function) ;
  }


.nav-link:hover, 
.nav-link:focus {color: var(--color-OCEAN);}


 .nav-item{

  display: flex;
  
} 

.nav-link::after{
  display: none;
  /* display:block; */
  position: absolute;
  content: ' ';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  bottom: -25px;
  background-color: transparent;
}
 
.active-page.nav-link::after{
background-color: var(--color-OCEAN);}

.active-page.nav-link {
  color: var(--color-OCEAN);
}  

.mobile_menu-header-contacts{
   font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-SLATE);
  margin: 0 auto;
  margin-bottom: 48px;

}
  .header-contacts {
    display: none;}


.contacts-list {
  
  display: flex; 
 gap: 40px; 
 flex-direction: column-reverse;
} 

.contacts_email-link{
  
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-SLATE);
}


.contacts_tel-link{ 
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;

color: var(--color-IRIS); 
transition-property: color;
transition-duration: var(--transition-duration);
transition-timing-function: var(--transition-timing-function);


}
 
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
} 


/* --------mobile-menu---------*/ 
.container-mobile_menu{
   width: 100%; 
  max-width: 428px;
  padding-left: 35px;
  padding-bottom: 40px;
  padding-right: 15px;
  padding-top: 80px;
  margin-left:  auto;
  margin-right: auto;
  outline: 1px solid #404BBF;
  }

.mobile_menu{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    right: 0;
    background-color: #ffff;
    z-index: 100;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
   
  } 

  .mobile_menu.is-open{
  opacity: 1;
    visibility: visible;
    pointer-events: auto;}
   
  
  
  

   } 
  
   
 .mobile_menu-icon-close{
  fill: var(--color-NAVYBLU);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
 }

 
.mobile_menu-btn-close:focus{
  background-color:var(--color-OCEAN) ;
  border-color: var(--color-OCEAN);
}

/* 
  .mobile_menu-container{
  width: 100%;

} */


.mobile_menu-btn {
  display: flex;
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
    
  /* align-items: center; */
  /* justify-content: center; */
  /* line-height: 0; */     
}

.mobile_menu-icon-burger {
  stroke: #2E2F42;
 
}
 
  /* display:flex; */
  /* */
  /* 
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffff;
  border: 1px solid #2E2F42;
  align-items: center;
  justify-content: center; */
  /* transition-property: background-color, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);    */
    

    
/* 
.mobile-menu-list .header-contacts  {

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-SLATE);
}

.mobile-menu-list .header-contacts {
  
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-SLATE);


} */

/* --------mobile-menu--------- */
/* =================Main page Header=================*/


/*==================Main page - Hero image=================*/

.hero {
  margin: 0 auto;
  background-color: var(--color-background-hero);
  text-align: center;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image:var(--bd-gradient), 
  url(../images/main_page/background/hero-bd_mobile.png);
  background-repeat: no-repeat;
  max-width: 1440px;
  background-position: center;
  /* background-size: 428px 432px; */
  background-size: cover;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-WHITE);
  width: 320px;
  margin: 0 auto;
  margin-bottom : 48px;
  text-align: center;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-WHITE);
  background-color: var(--color-background-button);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent ; 
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
 
  transition-property: background-color ;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  }


.hero-btn:hover,
.hero-btn:focus {
  background-color:var(--color-OCEAN) ;}


/* ========Modal ========= */
.backdrop { 
position:fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color:rgba(46, 47, 66, 0.4);
opacity: 1;
transition-property: opacity, visibility;
transition-duration: var(--transition-duration);
transition-timing-function:cubic-bezier(0.23, 1, 0.320, 1);
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
 
.backdrop.is-hidden .modal{
 transform: translate(-50%, -50%) scaleY(0) rotate(180deg); 
}

 .modal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 392px;
  height: 584px;
  background-color:#FCFCFC; 
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform; 
  transition-duration: var(--transition-duration);
  transition-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
 padding: 72px 16px 24px 16px;
}

.modal-title{
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-NAVYBLU);
text-align: center;
margin-bottom: 16px;

}

.form-field{
  display: flex;
  flex-direction: column;
  font-size: 12px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #8E8F99;

}

.form-label{
color: #8E8F99;
cursor: pointer;
margin-bottom: 4px;
}

.input-wrap{
  position: relative;
}

.form-input {
  height: 40px;
  width: 360px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  border-radius: 4px;
  padding: 8px 16px 8px 38px;
  outline: transparent;
  transition-property: background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  }

.form-textarea {
  display: block;
  height: 120px;
  width: 360px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  resize: none;
  outline: transparent;
  transition-property: border-color, color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  }

.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  bottom: 8px;
  transform: translateY(-50%);
  fill: var(--color-NAVYBLU);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
  }

.form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.input-wrap .form-textarea:focus::placeholder{
  color: #000000;
}

.input-wrap:focus-within .form-input{
  border-color: var(--color-IRIS);
}

.form-input:focus + .icon-form {
  fill: var(--color-IRIS); 
}

.form-field:focus-within .form-textarea{
  border-color: var(--color-IRIS);
}

.form-contacts{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-field:last-child {
margin-bottom: 0px;
}

.form-btn{
display: block;
align-items: center;
background:var(--color-IRIS);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--color-WHITE);
border: 1px solid var(--color-IRIS);
padding: 16px 32px;
width: 169px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
margin: 0 auto;
}

/*  checkbox*/
.check-text{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8E8F99;
  cursor: pointer;
  margin-bottom: 24px;
  margin-top: 16PX;
}

.check-text span {
width: 16px;
height: 16px;
border-radius: 2px;
border: 1px solid var(--color-NAVYBLU);
display: flex;
justify-content: center;
align-items: center;
fill: transparent;
transition-property: background-color, border-color, fill;
transition-duration: var(--transition-duration);
transition-timing-function: var(--transition-timing-function);
}

.input-check:checked + .check-text span{
  border: none;
  background-color: var(--color-OCEAN);
  fill: var(--color-Cloud);
}
.input-check:focus + .check-text span {
  border-color: var(--color-OCEAN);
}

.privacy-policy-link {
  color: var(--color-IRIS);
}

.hero-btn-close{
  display:flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  line-height: 0;
  cursor: pointer;
  background-color: #E7E9FC; 
  border: 1px solid rgba(0, 0, 0, 0.1); 
  align-items: center;
  justify-content: center;
  transition-property: background-color, border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function); 
   
}


.mobile_menu .hero-btn-close {
  background-color:  rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  line-height: 0;
}

.hero-btn-close:hover,
.hero-btn-close:focus{
  background-color:var(--color-OCEAN) ;
  border-color: var(--color-OCEAN);
}

  .icon-modal-close {  
  fill: var(--color-NAVYBLU);
  transition-property: fill;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
} 

.hero-btn-close:hover > .icon-modal-close,
.hero-btn-close:focus > .icon-modal-close{
fill: var(--color-WHITE);
}  



/*=========Main page - Hero image*=================*/

/* ===========Main page - Section 1 - Feature==========*/

.feature {
padding-top: 96px;
padding-bottom: 96px;

}

.feature-list {
  /* display:flex;
  flex-direction: column;
  gap: 72px; */
}

.feature-item {
  /* margin-right: 24px; */
margin-bottom: 72px;
} 

.feature-item:last-child {
  margin-bottom : 0;
}

/* .feature-item:last-child{
  margin-right: 0;
} */

.feature-item .text{
   /* text-align: center;  */
  /* width: 264px; */
}
.feature-item .title {
text-align: center;
  
}

.feature-item::before{
  display: none;
  content: '';
  width: 264px;
  height: 112px;
  background-repeat: no-repeat;
  background-size: 60px 64px;
  background-color: var(--color-Cloud);
  background-position: 50% 50%;
  margin-bottom: 8px;
}
.feature-item:nth-child(1):before {
background-image: url(../images/icons/icon_antenna.svg);
}
.feature-item:nth-child(2):before {
background-image: url(../images/icons/icon_clock.svg );
}
.feature-item:nth-child(3):before {
background-image: url(../images/icons/icon_diagram.svg );
}
.feature-item:nth-child(4):before {
background-image: url(../images/icons/icon_astronaut.svg );
} 

/* ===========Main page - Section 1 - Feature==========*/


/* ===========/Main page - Section 2 - What are we doing==========*/


.works {
  margin: 0 auto;
  padding-bottom: 120px;
 
}
.works-list {
  display: flex;
  justify-content:space-between; 
  
}

  /* ===========/Main page - Section 2 - What are we doing==========*/

/* ===========Main page - Section 3 - Our Team==========*/

.team { 
  background-color: var(--color-background-team);
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 96px;
  
}
.team-list { 
  /* display: flex; */
  /* justify-content: center; */
  /* gap: 24px; */
}
.team-item {
background-color:var(--color-card-team);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
/*  */
margin: 0 auto;
margin-bottom: 72px;
display: flex;
max-width: 264px;
flex-wrap: wrap;
align-content: space-between;
justify-content: center;
/*  */
}

.team-item:last-child{
  margin-bottom: 0;

}


.team-card{
padding-top: 32px;
padding-bottom: 32px;
text-align: center;

}
.team-card>.text{
  margin-bottom: 8px;}

  .mobile_menu .team-soc-list {
  display: flex;
  justify-content: flex-start;
  gap: 56px;
  flex-wrap: wrap;
}
  

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
 .team-soc-icon{
  fill: var(--color-Cloud);
} 

.team-soc-link {
width: 100%;
height:100%;
border-radius: 50%;
background-color: var(--color-IRIS);
display: flex;
justify-content: center;
align-items: center ;
transition-property: background-color;
transition-duration: var(--transition-duration);
transition-timing-function: var(--transition-timing-function);
}

.team-soc-link:hover,
.team-soc-link:focus
{
  background-color: var(--color-OCEAN);
}

/* ====/Main page - Section 3 - Our Team==========*/

 /* -- Section 4 Customers -- */

.customers{
padding-top: 96px;
padding-bottom: 96px;
 }
.customers-logo{
fill:#8E8F99;
transition-property: fill;
transition-duration: var(--transition-duration);
transition-timing-function: var(--transition-timing-function);
}

.customers-list{
display: flex; 
flex-wrap: wrap;
justify-content: center;
gap: 72px 16px; 
}
.customers-item{

}

.customers-link{
display: flex;
border: 1px solid #8E8F99;
border-radius: 4px;
width: 190px;
height: 88px;
justify-content: center;
align-items: center;
transition-property: border-color;
transition-duration: var(--transition-duration);
transition-timing-function: var(--transition-timing-function);
}

.customers-link:hover > .customers-logo,
.customers-link:focus > .customers-logo
{ 
  fill:var(--color-OCEAN);
}

.customers-link:hover,
.customers-link:focus{
border-color: var(--color-OCEAN); 
}
 /* -- Section 4 Customers -- */

/* ==========Footer==========*/

.footer {
background-color: var(--color-background-hero);
padding-top: 96px;
padding-bottom: 96px;
}

.logo-studio-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-Cloud); 
  
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-Cloud);
  width: 268px;
  /* margin-top: 16px; */
  margin: 0 auto;
}

.footer-title{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:var(--color-WHITE); 
  margin-bottom: 16px; 
 text-align: center;
}

.footer.container{
  margin: 0 auto;
  /* display: flex;  */
}

.div-footer-logo{
  /* margin-right: 120px; */
  margin-bottom: 72px;

}
.div-footer-logo .logo{
  margin-bottom: 16px;
    text-align: center;
}
.footer-soc{
  /* margin-right: 80px; */
  margin-bottom: 72px;
}

.footer-soc-list{
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-icon {
  fill: var(--color-Cloud); 
}
.footer-soc-link {
width: 100%;
height: 100%;
border-radius: 50%;
background-color: var(--color-IRIS);
display: flex;
justify-content: center;
align-items: center;
transition-property: background-color;
transition-duration: var(--transition-duration);
transition-timing-function: var(--transition-timing-function);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31D0AA;
}

.footer-subscribe{
  /* display: flex; */
  align-items: center;
  cursor: pointer;
  gap: 24px;
  
}

.footer-btn {
  
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-WHITE);
  background-color: var(--color-background-button);
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  
}

.icon-telegram{
  fill:var(--color-WHITE);
}

.footer-email{
  display:block ;
  margin: 0 auto;
  background-color: inherit;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  /* max-width:398px;  */

  height: 40px;
  padding-left: 16px;
  color: var(--color-WHITE);
  outline: transparent;
  margin-bottom: 16px;
  width: calc((100%-30px)/1);
}

.footer-email::placeholder{
  color: var(--color-WHITE);
}

/* ====================Footer=============*/
/* =======================MAIN PAGE=========*/



/* =========================PORTFOLIO=========== */
/* ===============Section 1  Filter========== */

.filter{
  margin: 0 auto;
  padding-bottom: 120px;
  padding-top: 96px;
}
.filter-list{
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px ;
}

.filter-btn{ 
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  background: var(--color-Cloud);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  color: var(--color-IRIS);
  text-align: center;
  padding:12px 24px;
  transition-property: color, background-color, box-shadow , border-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-WHITE); 
  background-color: #404BBF; 
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ========Section 1  Filter======= */

/* ========ROW 1-3================= */
.project{
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  justify-content: space-between;
}

.project-card{ 
  border: 1px solid #E7E9FC;
  border-top: none;
  padding: 32px 16px;
  flex-grow: 1;
  max-width: 360px;
}
.project-link{
  display: flex;
  height: 100%;
  flex-direction: column; 
  transition: transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.project-link:hover,
.project-link:focus
{
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
/*  !!!!!!!!!!! OVERLAY Portfolio cards */

.project-images {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition:transform;
  transition-duration: var(--transition-duration);
  transition-timing-function:var(--transition-timing-function);
  background-color: var(--color-IRIS);
}
.project-link:hover .overlay,
.project-link:focus .overlay {
  transform: translateY(0);
} 

.overlay-text {
  position: absolute;
  top: 40px;
  left: 32px;
  width: 298px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-Cloud);
  overflow: auto;
}
/* ========ROW 1-3================= */

 @media (min-device-pixel-ratio: 2),
 (-webkit-min-device-pixel-ratio: 2),
 (min-resolution: 192dpi),
 (min-resolution: 2dppx) {
   .hero {
     background-image: var(--bd-gradient),
       url(../images/main_page/background/hero-bd_mobile@2x.png);
   }
 }

 @media screen and (max-width:1200px) {
  .works{
 display: none;
  }
  
  }
  
  @media screen and (min-width:768px) {
    .mobile_menu{
      display: none;}
   .mobile_menu-icon-burger {
    display: none;

    }}

    /* @media screen and (max-width:480px) {
      
      .container-mobile_menu {
    
        width: 428;
        margin-left: auto;
        margin-right: auto;
      }
  
    } */
    